<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="markusi.githubapp">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:name=".GitHubApp"
            android:allowBackup="true"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher"
            android:supportsRtl="false"
            android:theme="@style/AppTheme">

        <activity
                android:name=".ui.repositories.RepositoriesActivity"
                android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.repository_details.RepositoryDetailsActivity"/>

        <activity android:name=".ui.user_details.UserDetailsActivity"/>

    </application>

</manifest>
